body
{
    background: lightgrey;
    color: #444444;
    font-family: 'Noto';
	line-height: 5;
	display: flex;
	justify-content: space-between;
	grid-template-rows: 80px 1fr  1fr 80px;
	grid-template-columns: 200px 1fr  1fr 200px;
	
  }

  

  img {
    height: 150px;
    background-color: rgb(197, 206, 197);
    border: 10px solid rgb(202, 200, 196);
    padding: 15px;
	margin: 20px;
	display: block;
  }

#myNavBar {
	background: #575555;
	color: white;
	display: flex;
	border: 2px solid #e4dbdb;
	justify-content: space-between;
	padding-top: 25px;
	padding-right: 30px;
	padding-left:30px;
	font-family: 'Fredoka One', cursive;
	font-size: 30px;
	text-align:center;
    grid-row: 1;
	grid-column:1;
	background:#575555;
	font-family:  'Fredoka One';
	font-size: 25px;
	display:flex;
	text-align: center;
	text-decoration-color: white;
	color: white;

}
a {
	text-decoration:none;
	color: white;
	text-decoration-color: white;
}

#navbar-right
{
	font-family: 'Fredoka One', cursive;
	font-size: 20px;
	text-align:left;
	text-decoration-color: #e4dbdb;
	text-decoration:none;

}

.cnavbar-header {
	width: 100px;
	background: #312d2e;
	color: #504747;
	border-radius: 16px;
	margin: 5px;
	text-align: left;
	line-height: 20px;
  }

#about {
	padding: 36px 0px 48px 0px;
	background-color: lightgrey;
	
}



#aboutme{
	font-family: 'Graduate',cursive;
	font-size: 50px;
	font-display: center;
}
/*
#aboutDescription {
	font-family: 'Coda',cursive;
	font-size: 20px;
}

#portfolio {
	padding: 36px 0px 24px 0px;
	background-color: white;
}

.caption{
	font-family: 'Coda',cursive;
}
*/
/*
#contacts {
	padding: 36px 0px 48px 0px;
	background-color: lightgray;
}

#row{
	margin-bottom: 12px;
	margin-left: 80px;
	margin-right: 80px;
}

#icon {
	width: 64px;
	length: 64px;
}
*/